$main-bgcolor: #f7f6ee;
$navbar-bgcolor: #6e069e;
$navtext-color: #f2f2f2;
$nav-hover: #a974c4;
$nav-active: #6e039e;
$header-bgcolor: #b64e64;
$contact-title: #80b6ab;
$pale-pink: #FFA7C1;

$hexagon-color: #fdbf00;



$main-font-family: 'Bad Script', cursive;
$secondary-font-family: 'Alex Brush', cursive;
$main-color: #2C3E50;
$main-font-style: italic;

//Beth's Fonts she likes
$font-family-hc1: 'Alex Brush', cursive;
$font-family-mf1: 'Bad Script', cursive;
$font-family-hc2: 'Parisienne', cursive;
$font-family-hc3: 'Pinyon Script', cursive;
$font-family-mf2: 'Sorts Mill Goudy', serif;